/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: #f1f1f1;
    color: #2c3e50;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Header Styling */
header {
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    border: solid 0.1em transparent;
    border-bottom-color: #3d3d3d;
}

header h1 {
    font-family: 'Roboto', serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: #2c3e50;
    margin-bottom: 20px;
    letter-spacing: 0.02em; 
}

header h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #eeb310;
}

/* Section Styling */
section {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.8;
}

section h2 {
    font-family: 'Roboto', serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #3d3d3d;
    margin-bottom: 15px;
}

section h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #eeb310;
    margin-bottom: 15px;
}

section p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #2c3e50;
    letter-spacing: 0.01em; /* Slight spacing for readability */
    margin-bottom: 20px;
}

/* Strong emphasis */
strong {
    color: #e74c3c;
    font-weight: 700; /* Bold Roboto */
}

/* Emphasize key points */
em {
    font-style: italic;
    color: #e74c3c;
}

/* Footer Styling */
footer {
    padding: 20px;
    text-align: center;
    /* background-color: #f1f1f1; */
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #7f8c8d;
     border: solid 0.1em transparent;
    border-top-color: #3d3d3d;
}

footer a {
    color: #2980b9;
    text-decoration: none;
   
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    
    header h3 {
        font-size: 1rem;
    }

    section h2 {
        font-size: 1.8rem;
    }

    section h3 {
        font-size: 1.1rem;
    }

    section p {
        font-size: 1rem;
    }
}